h1 {
    font-family:sans-serif;
}

p {
    font-family:serif;
}
   
a {
    color: darkgreen;
}

del {
    color: grey;
}

mark {
    background-color: pink;
    color: darkblue;
}

h2 {
    font-family:sans-serif;
    text-align: left
}

pre {
    font-family:monospace;
}

h3 {
    color:rgb(0, 0, 139, 0.8)
}

.transparent-text {
    color: rgb(0, 0, 0, 50%);
}

body {
    background-image: url(cross.png);
    background-color: #DCF5F5;
}

#example1 {
    background-color: white;
}

.blue {
    color:blue;
}

.fancy {
    font-family:cursive;
}

.red-border {
    border-style: solid;
    border-color: red;
}

.blue-border {
    border-style: solid;
    border-color: blue;
}

.red-border1 {
    border-style: solid;
    border-color: red;
    border-bottom-style: none;
    border-radius: 8px 8px 1px 1px;
}

.blue-border1 {
    border-style: solid;
    border-color: blue;
    border-radius: 1px 1px 8px 8px;
}

.red-outline {
    outline-style: solid;
    outline-color: red;
}

hr {
    color: #CFDFE4;
}

.round1 {
    border: 1px solid darkgrey;
    border-radius: 8px;
    background-color: white;
}

